<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="panel">
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                    (chartInstance)="logChartInstance($event)">
                </highcharts-chart>
            </div>

            <div class="panel table-wrapper">
                <ag-grid-angular id="datatable" class="ag-table-size ag-theme-alpine" [rowData]="tableData"
                    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef">
                </ag-grid-angular>
            </div>
        </div>
    </div>

</div>