<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="panel">
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                    (chartInstance)="logChartInstance($event)">
                </highcharts-chart>
            </div>

            <div class="panel table-wrapper ag-table-size">
                <ag-grid-angular id="datatable" class="ag-theme-alpine ag-table-size"  
                [rowData]="tableData"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [getRowStyle]="getRowStyle"
                [getRowClass]="getTableRowClass"
                (gridReady)="onGridReady($event)"
                (firstDataRendered)="onFirstDataRendered($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>

</div>
