/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-square-download:before {
  content: "\ea02";
}

.nc-icon.nc-dashboard-level:before {
  content: "\ea03";
}

.nc-icon.nc-cart-simple:before {
  content: "\ea05";
}

.nc-icon.nc-bag-09:before {
  content: "\ea06";
}

.nc-icon.nc-ic_multiline_chart_24px:before {
  content: "\ea07";
}

.nc-icon.nc-ic_show_chart_24px:before {
  content: "\ea08";
}

.nc-icon.nc-ic_show_chart_48px:before {
  content: "\ea09";
}

.nc-icon.nc-eye-19:before {
  content: "\ea0a";
}

.nc-icon.nc-ic_insert_chart_18px:before {
  content: "\ea0b";
}

.nc-icon.nc-single-folded-content:before {
  content: "\ea0c";
}

.nc-icon.nc-multiple-11:before {
  content: "\ea0d";
}

.nc-icon.nc-single-01:before {
  content: "\ea0e";
}

.nc-icon.nc-badge-13:before {
  content: "\ea0f";
}

.nc-icon.nc-grid-45:before {
  content: "\ea10";
}

.nc-icon.nc-ic_filter_list_48px:before {
  content: "\ea12";
}

.nc-icon.nc-preferences:before {
  content: "\ea13";
}

.nc-icon.nc-ic_sort_by_alpha_24px:before {
  content: "\ea14";
}

.nc-icon.nc-ic_notifications_none_48px:before {
  content: "\ea15";
}

.nc-icon.nc-bell-53:before {
  content: "\ea16";
}

.nc-icon.nc-ic_error_outline_48px:before {
  content: "\ea17";
}

.nc-icon.nc-ic_info_outline_48px:before {
  content: "\ea18";
}

.nc-icon.nc-ic_list_48px:before {
  content: "\ea19";
}

.nc-icon.nc-ic_star_border_24px:before {
  content: "\ea1a";
}

.nc-icon.nc-ic_close_36px:before {
  content: "\ea1b";
}

.nc-icon.nc-ic_menu_48px:before {
  content: "\ea1c";
}

.nc-icon.nc-ic_warning_48px:before {
  content: "\ea1d";
}

.nc-icon.nc-ic_error_outline_24px:before {
  content: "\ea1e";
}

.nc-icon.nc-ic_info_48px:before {
  content: "\ea1f";
}

.nc-icon.nc-ic_info_24px:before {
  content: "\ea20";
}

.nc-icon.nc-ic_content_paste_48px:before {
  content: "\ea21";
}

.nc-icon.nc-ic_content_paste_24px:before {
  content: "\ea22";
}

.nc-icon.nc-ic_feedback_24px:before {
  content: "\ea23";
}

.nc-icon.nc-ic_feedback_48px:before {
  content: "\ea24";
}

.nc-icon.nc-if_info:before {
  content: "\ea25";
}

.nc-icon.nc-eye_invisible:before {
  content: "\ea26";
}

.nc-icon.nc-eye_visible:before {
  content: "\ea27";
}

.nc-icon.nc-ic_color_lens_24px:before {
  content: "\ea28";
}

.nc-icon.nc-ic_color_lens_48px:before {
  content: "\ea29";
}

.nc-icon.nc-ic_swap_vertical_circle_24px:before {
  content: "\ea2a";
}

.nc-icon.nc-ic_swap_vertical_circle_48px:before {
  content: "\ea2b";
}

