@import '~korner-fe-style/lib/scss/base/_colors.scss';
@import '~korner-fe-style/lib/scss/base/_core.scss';
@import '~korner-fe-style/lib/scss/base/_mixins.scss';

// colors
// $body-bg: #f1f6f7;
$body-bg: #f6f6f6;
$login-page-bg: #edeef2;
$top-color-line: #2e4da7;
$top-color-line-left: #00c9ff;
$loading-bar-bg-color: $success;
$login-blog-text-color: $white;
$sidebar-filters-bg-color: $white;
$filter-label-color: #858585;
$sidebar-filters-border-left-color: #e3e3e3;
$header-border-bottom-color: #5bb2d2;
$login-h1: $white;
$login-h2: #292065;
$graph-selectors-bg-color: #eeeeee;
$graph-selectors-active-bg-color: #e3e3e3;
$page-title: #666;

// sidebar
$sidebar-width: 260px;
$sidebar-filters-padding: 1rem;
$sidebar-filters-width: 560px;
$sidebar-filters-form-actions-width: 708px;
$sidebar-collapsed-width: 64px;
$sidebar-bg-color: #1c212c;


// navigation
$nav-color: rgba($white, .6);
$nav-bg-color: #1c212c;
$nav-li-padding: 16px 16px 16px 10px;
$nav-color-hover: $white;
$nav-item-bg-hover: rgba($black, .25);
$nav-item-border-bottom-color: darken($nav-bg-color, 4%);
$nav-font-size: 0.8em;

// header
$header-min-height: 64px;
$header-logo-bg-start: $primary;
$header-logo-bg-end: darken($primary, 15%);

// overlay
$page-overlay-color: rgba(255, 255, 255, .8);

// table
$report-table-header-groups-bg-color: #3c4a53;
$report-table-footer-bg-color: #3c4a53;
$report-table-header-bg-color: #fff;
$report-table-body-row-odd-bg-color: #f6f6f6;
$report-table-body-row-weekday-bg-color: #d9eefb;
$report-table-body-row-hover-bg-color: #75d6fb;


// anim
$sidebar-anim-length: 400ms;
$sidebar-filters-anim-length: 400ms;
$page-overlay-anim-length: 600ms;
$login-loading-anim-length: 400ms;

// c-ham
$c-hamburger-bg-color-active: #fafafa;

// selectors
$selectors-min-height: 90px;
$selectors-pd-right: 40px;
$selectors-controls-bg-color: darken($primary, 5%);
$selectors-controls-disbaled-bg-color: lighten($primary, 10%);

// heatmap
$heatmap-size-box-item-bg-color: #eee;
$heatmap-point-bg-color: #fafafa;
$heatmap-header-footer-bg-color: #fafafa;
$heatmap-point-border: 1px solid #efefef; 
$heatmap-grid-color: #efefef;